@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

/* css để khi focus vào input thì border màu xanh */
input:focus {
  /* border-color: #3490dc; */
  outline: none !important;
  border-color: #3490dc;
  box-shadow: 0 0 3px #3490dc;
}
